.chatWindow {
  width: 80%;
  position: relative;

  @media (max-width: 480px) {
    width: 100%;
  }

  .chatMessages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

}