.message {

    color: var(--igds-light-base-color-background-inverted);
    border-radius: var(--igds-light-ref-border-radius-m);
    word-break: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.user-message {
    align-self: flex-start;

}

.bot-message {
    align-self: flex-end;
    background-color: var(--igds-light-base-color-background-neutral-default);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 10px 16px;
    padding-bottom: 25px;

    .bot-icons {
        position: absolute;
        bottom: 1.5rem;
        left: 0.5rem;
        display: flex;
        gap: 0.8rem;
    }

    .bot-icons img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .copied-popup {
        position: absolute;
        bottom: -1.5rem;
        left: 0.5rem;
        background-color: #333;
        color: white;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 12px;
        animation: fadeInOut 1.5s ease-out;
    }
}

.robot,
.user {
    margin: 10px 0px 0px 10px;
    width: 40px;
    height: 40px;
    align-self: flex-start;
}